bank-full/.settings/org.eclipse.ltk.core.refactoring.prefs
diagramas/sistema-bancario.asta.lock
parte-1-maintainer/bank-full/src/META-INF/MANIFEST.MF
parte-3-developer/peer-review/commons-logging-1.0.4.jar
parte-3-developer/peer-review/log4j-1.2.15.jar
parte-3-developer/g04-diagram/G04 - Etapa 2.asta.bak
parte-3-developer/peer-review/commons-logging-1.0.4.jar
parte-3-developer/peer-review/log4j-1.2.15.jar
parte-2-designer/diagramas/peer-review.asta.lock
parte-3-developer/peer-review/.classpath
*.classpath