/Actor0.class
/Actor1.class
/Actor2.class
/AllocationAction.class
/Article$Researcher.class
/Article.class
/ArticlesSelectionAction.class
/Button.class
/CommitteeHelperController.class
/CommitteeHelperView.class
/Conference.class
/ControllerAction.class
/GradeArticlesAction.class
/ModelDatabase.class
/Score.class
/ModelException.class
